* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  font-family: Arial, sans-serif;
  color: green;
  font-size: xx-large;
}
a {
  color: green;
  text-decoration: none;
  border: greenyellow solid 2px;
}

.container {
  min-height: 100vh;
  padding: 10px;
}

.main {
  display: flex;
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  font-size: 60px;
}

.article {
  background: black;
  color: green;
  text-align: center;
  padding: 20px;
}

.aside {
  display: flex;
  gap: 10px;
  padding: 10px;
 
}

.aside img {
  width: 50%;
  display: block;
  border-radius: 10px;
  border: chartreuse solid 2px;
}
footer {
  margin-top: 20px;
 display: flex;
    justify-content: center;
img{
  border: chartreuse solid 2px;
}
}   